@import (less) '../../node_modules/normalize.css/normalize.css';
@import (less) '_media.less';
@redColor: #c30000;
@sideWidth: 100px;

body {
    background: white;
    font-family: Roboto, sans-serif;
}

.topLine {
    margin: 0;
    padding: 10px;
    height: 100px;

    &__logo {
        margin-left: @sideWidth;
        width: 100px;
        height: 100px;
    }

    &__number {
        position: absolute;
        margin-right: 100px;
        margin-top: 50px;
        right: 0;
        top: 0;
        color: @redColor;
        font-size: 20px;
        font-weight: 700;
    }
}

.menu {
    margin: 0;
    padding: 0;
    background: black;
    height: 50px;

    &__item {
        margin-right: 10px;
        margin-top: 20px;
        color: @redColor;
        font-size: 14px;
    }

    &__item:first-child {
        margin-left: @sideWidth+40px;
    }

    &__search {
        position: absolute;
        right: 0;
        margin: 5px @sideWidth 5px 0;
        height: 40px;
    }
}

.breadcrumb {
    margin: 0;
    padding: 0;

    &__link_current {
        color: @redColor;
    }

    &__item {
        display: inline;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__separator {
        display: inline;
    }
}


.tshirt-image {
    width: 800px;
    height: 920px;
}
