@import (less) '../../node_modules/normalize.css/normalize.css';
@import (less) '_media.less';

@redColor: #c30000;
@menuColor: #f4f4ef;
@top-menu-height: 50px;
@sideWidth: 100px;
@item-color1: #fffafb;
@item-color2: #e3d95e;
@item-color3: #a5af96;

body {
    background: white;
    font-family: Roboto, sans-serif;
}

.topLine {
    margin: 0;
    height: 100px;
    width: 100%;

    &__shopLogo {
        position: absolute;
        left: 10%;
        top: 20px;
        width: 40%;
        height: 40px;
        @media @desktop {
            left: @sideWidth;
            top: 10px;
            width: 100px;
            height: 100px;
        }
    }

    &__OggettoLogo {
        position: absolute;
        right: 10%;
        top: 20px;
        transform: translate(-20px 0);
        fill: @redColor;
        width: 40px;
        height: 40px;
        @media @desktop {
            left: 50%;
            top: 40px;
            transform: translate(-20px 0);
            fill: @redColor;
            width: 40px;
            height: 40px;
        }
    }

    &__number {
        position: absolute;
        right: 20%;
        top: 70px;
        color: @redColor;
        font-size: 24px;
        font-weight: 700;
        @media @desktop {
            margin-right: 100px;
            margin-top: 50px;
            right: 0;
            top: 0;
            color: @redColor;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.menu {
    position: relative;
    margin: 0;
    padding: 0;
    background: @menuColor;
    height: @top-menu-height;

    &__button {

    }

    &__item {
        color: purple;
        transform: scaleY(0);

        @media @desktop {
            display: inline-block;
            margin-right: 10px;
            line-height: @top-menu-height;
            color: @redColor;
            font-size: 14px;
        }
    }

    &__item:first-child {
        margin-left: 10px;

        @media @desktop {
            margin-left: @sideWidth;
        }
    }

    &__item_current {
        font-weight: 700;
        color: black;
        text-decoration: none;
    }

    &__search {
        position: absolute;
        right: 10px;
        top: 5px;
        height: 40px;
        width: 40px;
        border: #b8b8b4;
        border-radius: 3px;
    }

    &__search-icon {
        position: absolute;
        right: 14px;
        top: 9px;
        padding: 8px;
        width: 16px;
        height: 16px;
        opacity: .3;
    }

    &__search-icon:hover {
        opacity: .6;
    }
}

.breadcrumbs {
    padding: 0;
    margin: 10px;

    @media @desktop {
        margin: 40px @sideWidth 0;
    }

    &__link_current {
        text-decoration: none;
        color: black;
    }

    &__item {
        display: inline;
    }

    &__link {
        color: @redColor;
    }

    &__separator {
        display: inline;
    }
}

.item {
    position: relative;
    width: 100%;

    @media @desktop {
        margin: 15px @sideWidth 0;
        padding: 0;
        height: 800px;
    }

    &__image-wrap {
        width: 95%;
        position: relative;
        margin: 0 auto;

        @media @desktop {
            float: left;
            display: inline-block;
            margin-right: 40px;
            min-width: 40%;
            min-height: 40%;
        }
    }

    &__image {
        position: absolute;
        //left: 0;
        //right: 0;
        //top: 0;
        //bottom: 0;
        width: 100%;

        @media @desktop {
            width: 100%;
            transition: opacity 2s;
            max-width: 700px;
        }
    }

    &__image-real {
        position: static;
        width: 100%;
    }

    &__information {
        width: 95%;
        margin: 0 auto;
        text-align: center;

        @media @desktop {
            float: left;
            min-width: 400px;
            text-align: left;
        }
    }

    &__name > h2 {
        font-size: 34px;
        font-weight: 700;
    }

    &__text {
        margin: 10px 0;
        font-size: 16px;
        word-wrap: break-word;
    }

    &__price {
        color: @redColor;
        font-size: 34px;
        font-weight: 700;
        margin: 30px 0 0;
        @media @desktop {
            margin: 0;
        }
    }

    &__buy-button {
        border: none;
        padding: 0;
        width: 200px;
        height: 80px;
        background-color: @redColor;
        color: white;
        font-size: 24px;
    }

    &__later {
        position: relative;
        height: 36px;
        width: 180px;
        margin: 30px auto;
    }

    &__later-icon {
        position: absolute;
        left: 0;
        width: 26px;
        height: 26px;
        fill: gray;
    }

    &__later-link {
        position: absolute;
        left: 26px;
        margin: 4px 0 0 5px;
        font-size: 16px;
        color: gray;
    }

    &__later-link:hover + &__later-icon {
        @media @desktop {
            fill: #f9c;
        }
    }

    &__later-link:hover {
        @media @desktop {
            text-decoration-color: #4b4b4b;
            color: #4b4b4b;
        }
    }

    &__picker-button {
        display: none;
    }

    &__picker-button + span {
        display: inline-block;
        margin: 0;
        padding: 1px;
        width: 65px;
        height: 65px;
        border: 2px solid gray;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        font-size: 32px;
        line-height: 65px;
        color: black;
    }

    &__picker-button#item-color1 + span {
        background: @item-color1;
    }

    &__picker-button#item-color2 + span {
        background: @item-color2;
    }

    &__picker-button#item-color3 + span {
        background: @item-color3;
    }

    &__picker-button:checked + span {
        border: 3px solid @redColor;
        padding: 0;
    }

    &__picker-button + span:hover {
        border: 2px solid @redColor;
    }

    &__picker-button:checked + span:hover {
        border: 2px solid @redColor;
        padding: 1px;
    }

    &__size-picker {
        margin-bottom: 20px;

        @media @desktop {
            margin-bottom: 40px;
        }
    }

    &__color-picker {
        margin-bottom: 40px;
    }
}

.footer {
    position: relative;
    background: @menuColor;
    border-top: 1px solid #cbcbc7;
    clear: both;
    @media @desktop {
        height: 430px;
    }
}

.bottom-menu {

    @media @desktop {
        float: left;
    }

    &__wrap {
        margin-top: 30px;

        @media @desktop {
            margin-top: 55px;
        }
    }

    &__support {
        width: 90%;
        margin: 0 auto;
        @media @desktop {
            margin: 0 0 0 @sideWidth;
            width: auto;
        }
    }

    &__about {
        width: 90%;
        margin: 10px auto 0;
        //height: 160px;
        @media @desktop {
            margin: 0 0 0 40px;
            width: auto;
        }
    }

    &__head {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        //padding: 20px;
    }

    &__item {
        width: 100%;
        margin: 0 0 10px;
        @media @desktop {
            width: auto;
        }
    }

    &__item > a {
        text-decoration: none;
        font-size: 14px;
        color: #3b3b3b;
    }

    &__item > a:hover {
        text-decoration: underline;
    }

    &__items-left {
        float: left;
        text-align: right;
        width: 45%;

        @media @desktop {
            text-align: left;
            width: auto;
        }
    }

    &__items-right {
        float: right;
        width: 45%;

        @media @desktop {
            float: left;
            margin: 0 20px;
            width: auto;
        }
    }

    //раскрытие списком по нажатию на кнопку на мобиле
    &__checkbox-label {
        display: inline-block;
        margin: 10px 0 0 10px;
        height: 20px;
        width: 20px;
        background: url('img/icons/more.svg');
        border-radius: 50%;
        transform: translate(0, 5px);

        transition: transform 1s;
    }

    &__checkbox {
        display: none;
    }

    &__items {
        height: 0;
        margin: 10px 0 0;
        transition: height 1s;
        overflow: hidden;
    }

    &__checkbox:checked ~ &__items {
        height: 140px;
        transition: height 2s;
    }

    &__checkbox:checked ~ &__head &__checkbox-label {
        transform: translate(0, 5px) rotate(45deg);
    }
}

.advantage {
    width: 90%;
    margin: 20px auto;

    @media @desktop {
        float: left;
    }
    //border: 1px solid red;

    &__item {
        position: relative;
        clear: both;
        margin: 0 0 20px;
        height: 24px;

        @media @desktop {
            margin: 0 0 26px;
        }
    }

    &__icon {
        float: right;
        height: 24px;
    }

    &__icon-wrap {
        position: absolute;
        left: 20px;
        width: 40px;
        height: 24px;

        @media @desktop {
            position: static;
            float: left;
        }
    }

    &__text {
        //margin: 0 10px ;
        margin: 0 0 0 70px;
        font-size: 14px;
        color: #3b3b3b;
        height: 20px;
        line-height: 24px;

        @media @desktop {
            float: left;
            position: static;
        }
    }
}

.social {
    width: 90%;
    margin: 40px auto;
    @media @desktop {
        float: left;
        margin: 0 0 0 40px;
    }

    &__item {
        float: left;
        width: 32%;
        text-align: center;
    }

    &__item a {
        display: inline-block;
        height: 32px;
        width: 32px;
    }

    &__icon {
        //margin: 0 0 18px;
        height: 32px;
        width: 32px;
    }

    &__facebook:hover {
        fill: #395692;
    }

    &__twitter:hover {
        fill: #41abe1;
    }

    &__instagram:hover {
        fill: #8b398e;
    }
}

.privacy {
    width: 90%;
    margin: 40px auto 0;
    padding: 40px 0;
    clear: both;
    left: @sideWidth;
    font-size: 14px;
    color: #3b3b3b;
    line-height: 20px;
    @media @desktop {
        position: absolute;
        bottom: 120px;
    }
}



.mobile-only{
    @media @desktop {
        display: none;
    }
}

.invisible {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.visible {
    opacity: 1;
    position: static;
}
